.App {
  text-align: center;
  /* color:black; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.TopBar {
  background-color: #0441b9;
  height: 10%;
  width: 100%;
}

.TripleLayout {
  /* float:left; */
  /* display: flex; */
  height: 90.7vh;
  width: 100vw;
  display: flex;
}

.SideBar {
  background-color: #23ad01;
  width: 19%;
  height: 100%;
  float: left;
}

.MidBotLayout {
  /* some code */
  float: right;
  width: 88vw;
  /* height: 90vh; */
  display: -ms-inline-flexbox;
}

.Middle {
  height: 80.7vh;
  /* width:70vw; */
  overflow: scroll;
  background-color: #8f499b;
  /* align-items: center;
  justify-content: center; */
}

.Bottom {
  background-color: #b85c60;
  /* width:70vw; */
  height: 10vh;
  /* float:inline-end; */
}
.addBtn {
  background-color: #024a69;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 60px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
.GenBtn{
  background-color: #d086df;
  color: #000000;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 50px 0px;
  width:200px;
  height: auto;
  cursor: pointer;
}
thead {
  background-color: #7df6fa;
  /* padding: 10px; */
}
tbody {
  background-color: #7fa8fa;
  padding: 10px;
}

