.App {
  text-align: center;
  /* color:black; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.TopBar {
  background-color: #7fa8fa;
  height: 10%;
  width: 100%;
}

.TripleLayout {
  /* float:left; */
  display: flex;
}

.SideBar {
  background-color: #7feb64;
  width: 20%;
  height: 100%;
  float: left;
}

.MidBotLayout {
  /* some code */
  float: right;
  width: 80%;
  height: 90%;
}

.Middle {
  height: 70%;
  background-color: #dd74f0;
}

.Bottom {
  background-color: #e96a70;
  height: 20%;
  /* float:inline-end; */
}
